body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow: hidden;
}

main {
    box-sizing: border-box;
    margin: 0;
    padding: 1em;
    /*background-color: aqua;*/
}

.btn {
    font-size: medium;
    color: #222;
    border: none;
    border-bottom: 2px solid #222 ;
    background-color: #fff;

    box-sizing: border-box;
    padding: 0.2rem;
    margin: 0 0.2em;
    height: fit-content;
    width: fit-content;
}
.btn:active {
    border-bottom: 2px solid #000 ;
    background-color: #555;
}

#ctitle {
    display: inline-block;
    font-size: large;
    margin: 0 1em;
}
#btnarea {
    display: inline-block;
    margin: 0 1em;
}

.day-box {
    display: inline-block;
    color: #222;
    background-color: #fff;

    box-sizing: border-box;
    margin: 1em;
    width: 100px;
    height: 100px;
}

header, footer {
    width: 100%;
    background-color: #555;
    color: #fff;
    text-align: center;
}

footer {
    position:fixed;
    bottom: 0;
    left: 0;
}