body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow: hidden;
}

main {
    box-sizing: border-box;
    margin: 0;
    padding: 1em;
    background-color: aqua;
}

.btn {
    font-size: large;
    color: #222;
    border: none;
    border-bottom: 2px solid #222 ;
    background-color: #fff;

    box-sizing: border-box;
    padding: 0.2rem;
    height: fit-content;
    width: fit-content;
}
.btn:active {
    border-bottom: 2px solid #000 ;
    background-color: #555;
}

.day-box {
    color: #222;
    background-color: #fff;

    width: 100px;
    height: 100px;
}

header {
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    background-color: #555;
    color: #fff;
    text-align: center;

    position:fixed;
    bottom: 0;
    left: 0;
}