body {
    /*font-family: Arial, Helvetica, sans-serif;*/
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow: hidden;
}

main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: aqua;*/
}

.btn {
    font-size: larger;
    color: #222;
    border: none;
    border-bottom: 2px solid #ccc ;
    background-color: #fff;

    box-sizing: border-box;
    padding: 0.2rem;
    margin: 0 0.2em;
    height: fit-content;
    width: fit-content;
}
.btn:hover {
    background-color: #ccc;
    border-color: #555;
}
.btn:active {
    color: #ccc;
    background-color: #555;
    border-color: #222;
}

#cheader {
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}
#cheadwrap {
    position: absolute;
    bottom: 10%;
    width: 100%;
}
#ctitle {
    display: inline-block;
    font-size: x-large;
    margin: 0 1em;
}
#btnarea1 {
    display: inline-block;
    margin: 0 1em;
}
#btnarea2 {
    display: inline-block;
    margin: 0 1em;
}
#daysarea {
    width: 100%;
}

.day-box {
    display: inline-block;
    color: #222;
    background-color: #fff;
    text-align: center;


    box-sizing: border-box;
    margin: 0;
    width: 100px;
    height: 100px;
}
.day-box:hover {
    background-color: #ccc;
}
.day-box h3 {
    margin: 0;
    padding: 0;
    margin-top: 3px;
}

header, footer {
    font-size: large;
    width: 100%;
    background-color: #555;
    color: #fff;
    text-align: center;
}

footer {
    position:fixed;
    bottom: 0;
    left: 0;
}